page-theathers-list {

    ion-content{
        ion-item{
            div
            {
                img
                {
                    max-width: 118.39px;
                    max-height: 58.48px;
                }
                .information
                {
                    position: relative;
                    top:-45px;
                    display: flex;
                    flex-direction: column;
                    padding-left: 45%;
                }
            }
        }
    }

}
