<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Cinemas de {{cinemas[0].cityName}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let cine of cinemas">
    <ion-item *ngIf="cine.enabled" (click)="getSessions(cine.id, cine.name)">
      <div *ngIf="cine.enabled">
        <img alt="imagem-cinema" src="{{cine.images[0].url}}" >
        <div class="information">
          <span>{{cine.name}}</span>
          <div *ngIf="cine.telephones.length > 0">
            <span>Contatos:</span>
            <div *ngFor="let tel of cine.telephones">
              <span>{{tel}}</span>
            </div>
          </div>
        </div>
      </div>
    </ion-item>
  </div>
</ion-content>
