page-theathers-list {

    ion-content{
        div.text-info
        {
            text-align: -webkit-center;
            margin: 15px;
            span
            {
                font-size: 18px;
                font-weight: 500;
            }
        }
        ion-item{
            div
            {
                img
                {
                    max-width: 118.39px;
                    max-height: 58.48px;
                }
                .information
                {
                    position: relative;
                    top:-45px;
                    display: flex;
                    flex-direction: column;
                    padding-left: 45%;
                    span
                    {
                        white-space: normal;
                    }
                }
            }
        }
    }

}
