page-forgot-password {

    .scroll-content
    {
        .logo
        {
            img
            {
                margin: 0 45% 0 45%;
            }
        }

        label
        {
            margin: 0;
            font-weight: 600;
            color: #414140;
            font-size: 1.5rem;
            margin-bottom: 0.3em;
        }
        input
        {
            margin: 0;
            padding: 1em;
            border: 1px solid #c5c5c4;
            height: 20px;
            width: 80%;
            color: #000;
        }
        input:focus
        {
            border: 1px solid #1375ad;
        }
        input:focus + label
        {
            color: #1375ad;
        }
        input[disabled]
        {
            background-color: #f1f1f1;
            color: rgba(0,0,0,.5);
        }

        .item-inner
        {
            text-align-last: right;
        }
    }

    .back-button,
    .toolbar-title
    {
        color: #fff;
    }

    ion-header
    {
        background: #1b282d;
        ion-title
        {
            color: #fff;
        }
    }

    .scroll-content
    {
        background-size: cover;
        background-position: right center;
        
        background: #1b282d;
        background: linear-gradient(130deg, #6200bb 0%, #1d0e9a 100%);

        .button
        {
            background: #1b282d;
        }
    }

}
