*{
    ion-modal
    {
        .modal-wrapper
        {
            background: rgba(0, 0, 0, 0.7)!important;
        }

        .ion-page
        {
            height: 42%;
            width: 90%;
            margin: 5%;
            margin-top: 50%;
        }

    }

    .toolbar,
    .toolbar-background,
    .toolbar-content
    {
        background: #1b282d;
    }

    .back-button,
    .toolbar-title
    {
        color: #fff;
        white-space: normal;
        font-size: 15px;
    }

    ion-header
    {
        background: #1b282d;
        ion-title
        {
            color: #fff;
            white-space: normal;
        }
    }

    .scroll-content
    {
        background-size: cover;
        background-position: right center;
        
        background: #1b282d;
        background: linear-gradient(130deg, #6200bb 0%, #1d0e9a 100%);

        
        .logo-home
        {
            margin: 0 45% 0 45%;
        }
        .logo-session
        {
            margin: 6% 35% 0 35%;
        }
        .button
        {
            background: #1b282d;
        }
        .checkbox-icon.checkbox-checked
        {
            background-color: #1b282d;
            border-color: #1b282d;
        }
        .select
        {
            .select-text
            {
                white-space: normal;
            }
        }
        
    }


    .logo
    {
        max-width: 50%;
        padding-bottom: 10%;
    }
    .scroll-content
    {
        color: white;
        overflow: auto;

        .login-form
        {
            text-align: center;
            width: 80%;

            div
            {
                width: 100%;
                text-align: center;
                margin-bottom: 1em;
                display: flex;
                flex-direction: column-reverse;

                label
                {
                    margin: 0 0 0.3em 0;
                    font-weight: 600;
                    text-align: left;
                }
                input
                {
                    font-size: 1.5rem;
                    text-align: left;
                    margin: 0;
                    background-color: transparent;
                    color: #fff;
                    width: 100%;
                    border: 1px solid #fff;
                    padding: 0.8em 0.5em;
                }
            }
        }
        .button-area
        {
            display: flex;
            justify-content: center;
            width: 100%;

            button
            {
                background-color: transparent;
                text-align: center;
                padding: 0.5em;
                font-size: 2rem;
                color: #fff;
                font-weight: 600;
                width: 50%;
                border: 1px solid #fff;
                margin-top: 1em;
            }
        }
    }
    .menu-inner
    {
        .menu-userlog
		{
			display: flex;

			div
			{
				width: 40%;
				display: flex;
				flex-direction: column;
				justify-content: center;

				img 
				{
					width: 7rem;
                    height: 7rem;
                    border-radius: 8rem;
                    object-fit: cover;
                    object-position: center;
					margin: 2rem 1.8em 0.75em;
				}
				label,
				span
				{
					color: #fff;
					font-weight: 500;
					font-size: 1.6rem;
				}
				span
				{
					font-weight: 300;
					margin-top: 0.5em;
				}
			}
			div:last-of-type
			{
				width: 65%;
			}
        }
        .list
		{
			margin: 0;
			padding: 1em 2em;

			.menu-option
			{
				display: flex;
				border-bottom: 1px solid rgba(112, 112, 112, .5);

				img 
				{
					width: 8%;
				}
			}
			.item
			{
				background-color: transparent;
				
				border-top: none;
				min-height: auto;

				.item-inner
				{
					border: none;

					.label
					{
						color: #fff;
						font-size: 1.6rem;
						font-weight: 300;
					}
				}
			}		
		}
        .scroll-content
        {
            background: #1b282d;
        }
    }
    .menu-option
    {
    }
    .login-body .scroll-content
    {
        background: rgb(0,125,187);
        background: linear-gradient(130deg, #6200bb 0%, #1d0e9a 100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}